In [1]:
#Importe de librerías a usar
import pandas as pd
import csv
import ast
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Leo los archivos
df_reviews = pd.read_csv("df_reviews_data.csv")
df_items = pd.read_parquet("df_items_sample.parquet")
df_games = pd.read_csv("df_games_data.csv")

In [5]:
df_games

,genres,app_name,title,release_date,tags,id
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,Lost Summoner Kitty,2018,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",761140
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,Ironbound,2018,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...",643980
2,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,Real Pool 3D - Poolians,2017,"['Free to Play', 'Simulation', 'Sports', 'Casu...",670290
3,"['Action', 'Adventure', 'Casual']",弹炸人2222,弹炸人2222,2017,"['Action', 'Adventure', 'Casual']",767400
4,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,Battle Royale Trainer,2018,"['Action', 'Adventure', 'Simulation', 'FPS', '...",772540
...,...,...,...,...,...,...
29749,"['Action', 'Adventure', 'Casual', 'Indie']",Kebab it Up!,Kebab it Up!,2018,"['Action', 'Indie', 'Casual', 'Violent', 'Adve...",745400
29750,"['Casual', 'Indie', 'Simulation', 'Strategy']",Colony On Mars,Colony On Mars,2018,"['Strategy', 'Indie', 'Casual', 'Simulation']",773640
29751,"['Casual', 'Indie', 'Strategy']",LOGistICAL: South Africa,LOGistICAL: South Africa,2018,"['Strategy', 'Indie', 'Casual']",733530
29752,"['Indie', 'Racing', 'Simulation']",Russian Roads,Russian Roads,2018,"['Indie', 'Simulation', 'Racing']",610660
29753,"['Casual', 'Indie']",EXIT 2 - Directions,EXIT 2 - Directions,2017,"['Indie', 'Casual', 'Puzzle', 'Singleplayer', ...",658870

In [7]:
df_items

,user_id,item_id,item_name,playtime_forever,tags_and_genres
0,kaybeegee,34010,Alpha Protocol,38.0,"['RPG', 'Stealth', 'Action', 'Choices Matter',..."
1,fixated84,220240,Far Cry® 3,1113.0,"['Open World', 'FPS', 'Action', 'Adventure', '..."
2,KnightBlaze,225020,Tomb Raider (VI): The Angel of Darkness,0.0,"['Action', 'Adventure', 'Lara Croft', 'Female ..."
3,phrostb,254440,Pool Nation,619.0,"['Sports', 'Simulation', 'Pool', 'Casual', 'In..."
4,PinkamenaDianePyro,242920,Banished,0.0,"['City Builder', 'Strategy', 'Simulation', 'Su..."
...,...,...,...,...,...
49995,oprove,201700,DiRT Showdown,0.0,NaN
49996,Lyricc,218130,Dungeonland,0.0,"['Free to Play', 'Action', 'Online Co-Op', 'Ca..."
49997,76561198093963443,253430,CastleMiner Z,2559.0,NaN
49998,dankafiinet,216250,Dead Island Riptide,97.0,NaN
49999,76561198116926066,234140,Mad Max,360.0,"['Open World', 'Action', 'Post-apocalyptic', '..."

In [7]:
df_reviews

                 user_id  sentiment_analysis  posted  item_id  recommend
0      76561197970982479                   1    2011     1250       True
1      76561197970982479                   1    2011    22200       True
2      76561197970982479                   1    2011    43110       True
3                js41637                   1    2014   251610       True
4                js41637                   1    2013   227300       True
...                  ...                 ...     ...      ...        ...
48493            wayfeng                   1    2015      730       True
48494  76561198251004808                   2    2015   253980       True
48495        72947282842                   0    2015      730       True
48496          ApxLGhost                   1    2015      730       True
48497  76561198267374962                   2    2015   369200       True

[48498 rows x 5 columns]

In [3]:
# Convertir la columna 'item_id' en df_items a tipo 'int64'
df_items['item_id'] = df_items['item_id'].astype('int64')

# Unir las columnas 'tags' y 'genres' de df_games en df_items usando 'item_id' como clave
df_items = pd.merge(df_items, df_games[['id', 'tags', 'genres']], left_on='item_id', right_on='id', how='left')

# Eliminar la columna 'id' redundante después de la fusión
df_items.drop('id', axis=1, inplace=True)

# Mostrar las primeras filas del DataFrame resultante para verificar
print(df_items.head())

              user_id  item_id                                item_name  \
0           kaybeegee    34010                           Alpha Protocol
1           fixated84   220240                               Far Cry® 3
2         KnightBlaze   225020  Tomb Raider (VI): The Angel of Darkness
3             phrostb   254440                              Pool Nation
4  PinkamenaDianePyro   242920                                 Banished

   playtime_forever                                               tags  \
0              38.0  ['RPG', 'Stealth', 'Action', 'Choices Matter',...
1            1113.0  ['Open World', 'FPS', 'Action', 'Adventure', '...
2               0.0  ['Action', 'Adventure', 'Lara Croft', 'Female ...
3             619.0  ['Sports', 'Simulation', 'Pool', 'Casual', 'In...
4               0.0  ['City Builder', 'Strategy', 'Simulation', 'Su...

                                              genres
0                                  ['Action', 'RPG']
1                            ['Action', 'Adventure']
2                                         ['Action']
3  ['Casual', 'Indie', 'Simulation', 'Sports', 'S...
4                ['Indie', 'Simulation', 'Strategy']

In [6]:
# Fusionar las columnas 'tags' y 'genres' en una nueva columna llamada 'tags_and_genres'
df_items['tags_and_genres'] = df_items['tags'] + df_items['genres']

# Eliminar las columnas 'tags' y 'genres' originales si no las necesitas más
df_items.drop(['tags', 'genres'], axis=1, inplace=True)

# Mostrar las primeras filas del DataFrame resultante para verificar
print(df_items.head())

              user_id  item_id                                item_name  \
0           kaybeegee    34010                           Alpha Protocol
1           fixated84   220240                               Far Cry® 3
2         KnightBlaze   225020  Tomb Raider (VI): The Angel of Darkness
3             phrostb   254440                              Pool Nation
4  PinkamenaDianePyro   242920                                 Banished

   playtime_forever                                    tags_and_genres
0              38.0  ['RPG', 'Stealth', 'Action', 'Choices Matter',...
1            1113.0  ['Open World', 'FPS', 'Action', 'Adventure', '...
2               0.0  ['Action', 'Adventure', 'Lara Croft', 'Female ...
3             619.0  ['Sports', 'Simulation', 'Pool', 'Casual', 'In...
4               0.0  ['City Builder', 'Strategy', 'Simulation', 'Su...

In [ ]:
#def PlayTimeGenre( genero : str ): # Debe devolver año con mas horas jugadas para dicho género.
#Ejemplo de retorno: {"Año de lanzamiento con más horas jugadas para Género X" : 2013}

In [9]:
cadena_a_buscar = "Sci-fi"
resultados = df_items[df_items['tags_and_genres'].str.contains(cadena_a_buscar, case=False, na=False)]

# Agrupa por la columna 'item_id' y suma la columna 'playtime_forever'
resultados2 = resultados.groupby('item_id')['playtime_forever'].sum().reset_index()
resultados2
# 'resultados' ahora contiene la suma de 'playtime_forever' por 'item_id'
# Suponiendo que 'resultados' es el DataFrame con la suma de 'playtime_forever' por 'item_id'
# Y 'df_games' es el DataFrame con los datos de los juegos

# Fusiona 'resultados' con 'df_games' usando 'item_id' como clave
merged_df = pd.merge(resultados2, df_games[['id', 'release_date']], left_on='item_id', right_on='id', how='left')

# Encuentra la fila con la suma máxima de 'playtime_forever'
fila_max_playtime = merged_df[merged_df['playtime_forever'] == merged_df['playtime_forever'].max()]

# Obtiene la fecha de lanzamiento correspondiente
fecha_lanzamiento_max_playtime = fila_max_playtime['release_date'].values[0]

int(fecha_lanzamiento_max_playtime)

2012

In [ ]:
#def UserForGenre( genero : str ): Debe devolver el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año.
#Ejemplo de retorno: {"Usuario con más horas jugadas para Género X" : us213ndjss09sdf, "Horas jugadas":[{Año: 2013, Horas: 203}, {Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}

In [11]:
cadena_a_buscar = "FPS"
resultados = df_items[df_items['tags_and_genres'].str.contains(cadena_a_buscar, case=False, na=False)]

# Supongamos que tienes un DataFrame llamado df_items

# Agrupa por la columna 'user_id' y suma la columna 'playtime_forever'
resultados2 = resultados.groupby('user_id')['playtime_forever'].sum().reset_index()
resultados2 = resultados2.sort_values(['playtime_forever'], ascending= False)
userbuscado = resultados2.iloc[0]

resultados3 = df_items[(df_items['user_id'] == userbuscado['user_id']) & (df_items['tags_and_genres'].str.contains(cadena_a_buscar, case=False, na=False))]

resultados3 = resultados3.sort_values(['playtime_forever'], ascending= False)
# 'resultados' ahora contiene la suma de 'playtime_forever' por 'item_id'

resultados4 = pd.merge(resultados3, df_games[['id', 'release_date']], left_on='item_id', right_on='id', how='left')


resultados4 = pd.merge(resultados3, df_games[['id', 'release_date']], left_on='item_id', right_on='id', how='left')
resultados4 = resultados4.groupby('release_date')['playtime_forever'].sum().reset_index()
resultados4 = resultados4.sort_values(['release_date'], ascending= False)


# Filtrar las filas donde 'playtime_forever' sea mayor que 0 y crear una lista de tuplas
lista_anos_horas = [(f"Año: {int(ano)}", f"Horas: {int(hora)}") for ano, hora in zip(resultados4['release_date'], resultados4['playtime_forever'] / 60) if hora > 0]
lista_anos_horas.insert(0,{"El usuario con mas horas jugados para el genero es",userbuscado['user_id']})
# Imprimir la lista de años y horas
print(lista_anos_horas)

[{'Sp3ctre', 'El usuario con mas horas jugados para el genero es'}, ('Año: 2015', 'Horas: 76'), ('Año: 2012', 'Horas: 4347')]

In [ ]:
#def UsersRecommend( año : int ): Devuelve el top 3 de juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios positivos/neutrales)
#Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [12]:
year_buscado = 2013
recommend_year = df_reviews[df_reviews['posted'] == year_buscado]

recommend_true = recommend_year[recommend_year['recommend'] & ((recommend_year['sentiment_analysis'] == 1) | (recommend_year['sentiment_analysis'] == 2))]

top3most = recommend_true.groupby('item_id')['sentiment_analysis'].count().reset_index()

top3most = pd.merge(top3most, df_games[['id', 'title']], left_on='item_id', right_on='id', how='left')

top3m = top3most.sort_values(['sentiment_analysis'], ascending= False).head(3)

listafuncion = [(f'Puesto {i + 1}', top3m['title'].iloc[i]) for i in range(len(top3m))]

print(listafuncion)

[('Puesto 1', 'Team Fortress 2'), ('Puesto 2', "Garry's Mod"), ('Puesto 3', nan)]

In [ ]:
#def UsersNotRecommend( año : int ): Devuelve el top 3 de juegos MENOS recomendados por usuarios para el año dado. (reviews.recommend = False y comentarios negativos)
#Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [13]:
year_buscado = 2013
recommend_year = df_reviews[df_reviews['posted'] == year_buscado]

recommend_false = recommend_year[recommend_year['recommend'] == False & ((recommend_year['sentiment_analysis'] == 0) )]

top3least = recommend_false.groupby('item_id')['sentiment_analysis'].count().reset_index()

top3least = pd.merge(top3least, df_games[['id', 'title']], left_on='item_id', right_on='id', how='left')

top3l = top3least.sort_values(['sentiment_analysis'], ascending= False).head(3)

listafuncion = [(f'Puesto {i + 1}', top3l['title'].iloc[i]) for i in range(len(top3l))]

print(listafuncion)

[('Puesto 1', 'Call of Duty®: Ghosts'), ('Puesto 2', 'Team Fortress 2'), ('Puesto 3', nan)]

In [14]:
listafuncion

[('Puesto 1', 'Call of Duty®: Ghosts'),
 ('Puesto 2', 'Team Fortress 2'),
 ('Puesto 3', nan)]

In [ ]:
# def sentiment_analysis( año : int ): Según el año de lanzamiento, se devuelve una lista con la cantidad de registros de reseñas de usuarios que se encuentren categorizados con un análisis de sentimiento.

In [15]:
year_buscado = 2015
sentiment_year = df_reviews[df_reviews['posted'] == year_buscado]
sentiment_year = sentiment_year.groupby('sentiment_analysis').size().reset_index(name='count')

listafuncion = []
listafuncion.insert(0,"Segun el año de lanzamiento "+ str(year_buscado))
listafuncion.insert(1, "Análisis de Sentimiento negativos : " + str(sentiment_year['count'].iloc[0]))
listafuncion.insert(2, "Análisis de Sentimiento neutrales : " + str(sentiment_year['count'].iloc[1]))
listafuncion.insert(3, "Análisis de Sentimiento positivos : " + str(sentiment_year['count'].iloc[2]))

print(listafuncion)

['Segun el año de lanzamiento 2015', 'Análisis de Sentimiento negativos : 1786', 'Análisis de Sentimiento neutrales : 11672', 'Análisis de Sentimiento positivos : 4696']

In [17]:
#Generamos la recomendacion de juegos por id de juego referencia, usando la similaridad del coseno.

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

def recommend_games(product_id : int):
    try:
        # Obtén el juego de referencia
        target_game = df_games[df_games['id'] == int(product_id)]
        num_recommendations=5

        if target_game.empty:
            return "No se encontró el juego de referencia."

        # Combina las etiquetas (tags) y géneros en una sola cadena de texto
        target_game_tags_and_genres = ' '.join(target_game['tags'].fillna('') + ' ' + target_game['genres'].fillna(''))

        # Crea un vectorizador TF-IDF y ajústalo una vez
        tfidf_vectorizer = TfidfVectorizer()
        tfidf_matrix = tfidf_vectorizer.fit_transform(df_games['tags'].fillna('') + ' ' + df_games['genres'].fillna(''))

        # Calcula la similitud entre el juego de referencia y todos los juegos
        similarity_scores = cosine_similarity(tfidf_vectorizer.transform([target_game_tags_and_genres]), tfidf_matrix)

        # Obtiene los índices de los juegos más similares
        similar_games_indices = similarity_scores[0].argsort()[::-1]

        # Recomienda los juegos más similares
        recommended_games = df_games.loc[similar_games_indices[1:num_recommendations + 1]]
        
        # Devuelve la lista de juegos recomendados
        return recommended_games['title'].tolist()

    except Exception as e:
        return {"message": f"Error: {str(e)}"}

In [18]:
recommend_games(10)

['Counter-Strike: Source',
 'Counter-Strike: Condition Zero',
 'Insurgency',
 'Umbrella Corps™/Biohazard Umbrella Corps™',
 'Counter-Strike: Global Offensive']

In [19]:
recommend_games(4000)

['Fistful of Frags',
 'Bus Simulator 16',
 'Blockland',
 "Who's Your Daddy",
 "Tom Clancy's Rainbow Six® Vegas"]

In [20]:
#Creamos un sample del dataframe items ya que es demasiado grande para RENDER y las funciones
df_items_sample = pd.read_parquet("df_items_sample.parquet")

In [21]:
df_items_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           50000 non-null  object
 1   item_id           50000 non-null  object
 2   item_name         50000 non-null  object
 3   playtime_forever  50000 non-null  float64
dtypes: float64(1), object(3)
memory usage: 1.5+ MB

In [22]:
df_games.sort_values('id')

,genres,app_name,title,release_date,tags,id
29726,['Action'],Counter-Strike,Counter-Strike,2000,"['Action', 'FPS', 'Multiplayer', 'Shooter', 'C...",10
29723,['Action'],Team Fortress Classic,Team Fortress Classic,1999,"['Action', 'FPS', 'Multiplayer', 'Classic', 'S...",20
29734,['Action'],Day of Defeat,Day of Defeat,2003,"['FPS', 'World War II', 'Multiplayer', 'Action...",30
29728,['Action'],Deathmatch Classic,Deathmatch Classic,2001,"['Action', 'FPS', 'Multiplayer', 'Classic', 'S...",40
29724,['Action'],Half-Life: Opposing Force,Half-Life: Opposing Force,1999,"['FPS', 'Action', 'Sci-fi', 'Singleplayer', 'C...",50
...,...,...,...,...,...,...
28273,['Action'],Tom Clancy's Ghost Recon Future Soldier - Seas...,Tom Clancy's Ghost Recon Future Soldier - Seas...,2012,['Action'],2028055
28369,['Strategy'],Worms Revolution Season Pass,Worms Revolution Season Pass,2012,['Strategy'],2028056
28002,['Action'],Call of Duty®: Black Ops II Season Pass,Call of Duty®: Black Ops II Season Pass,2013,"['Action', 'FPS', 'Zombies', 'Multiplayer']",2028062
28204,"['Action', 'Adventure']",Assassin’s Creed® III Season Pass,Assassin’s Creed® III Season Pass,2012,"['Action', 'Adventure']",2028103
1400,['Action'],Bioshock Infinite: Columbia's Finest,Bioshock Infinite: Columbia's Finest,2013,"['Action', 'FPS']",2028850